Auto uploads video link via Google Sheet-inactive.json
{"createdAt":"2025-03-29T05:58:46.126Z","updatedAt":"2025-03-29T05:58:46.126Z","id":"mmD0WcSFtBuWPoP6","name":"Auto uploads video link via Google Sheet","active":false,"nodes":[{"parameters":{"content":"## Auto uploads video link via Google Sheet -> Youtube\n1. **Link share video qua Google Drive phải Public** hoặc phải đăng nhập tài khoản được cho phép trung cập link.\n2. Tài khoản Youtube Studio phải **xác thực 3 bước trong Setting - Channel.**\nLink public Googlw Sheet: https://docs.google.com/spreadsheets/d/1U3L0wcZy180p0CXJYLKdDyxwmAmFBQv-Uwa7Rp89ZHE/edit?usp=sharing","height":340,"width":720,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"969458c3-6cdd-453b-9f5a-d4d57ce045f3","name":"Sticky Note1"},{"parameters":{"documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1JuJEEEVbAJC6j0D-4GpSur07QSP6YkXpqfPXsxaDGzQ/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tổng hợp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JuJEEEVbAJC6j0D-4GpSur07QSP6YkXpqfPXsxaDGzQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Trạng Thái","lookupValue":"Chưa xử lý"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,180],"id":"82e8f42c-d330-4c96-9d53-b66d4f2fa80e","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"36iq4mTI7OArBG49","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"={{ $('Get upload URL from YT1').item.json.headers.location }}","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Upload-Content-Type","value":"video/webm"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,540],"id":"c76c51dd-a8c3-4e8c-99e8-f91764531235","name":"Post video to YT1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"youTubeOAuth2Api":{"id":"4FfjKwbU2ZRhI9Tk","name":"YouTube account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1JuJEEEVbAJC6j0D-4GpSur07QSP6YkXpqfPXsxaDGzQ/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tổng hợp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VSsJ5f36tOgDt9K-jrjTie1kNEP8hTxl9esSVvnE0dQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets2').item.json.row_number }}","Link Youtube":"=https://www.youtube.com/watch?v={{ $('Post video to YT1').item.json.id }}","Trạng Thái":"Đã đăng","Thời gian hoàn thành":"={{ $json.currentDate.toDateTime().format('dd/MM/yyyy HH:mm') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Link Google Drive - Folder","displayName":"Link Google Drive - Folder","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tên video","displayName":"Tên video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mô tả video","displayName":"Mô tả video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Giờ hẹn lịch","displayName":"Giờ hẹn lịch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ngày hẹn lịch","displayName":"Ngày hẹn lịch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trạng Thái","displayName":"Trạng Thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thời gian hoàn thành","displayName":"Thời gian hoàn thành","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link Youtube","displayName":"Link Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1320,540],"id":"6a2877ab-cefa-4fca-a34d-63dfcd664b6a","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"36iq4mTI7OArBG49","name":"Google Sheets account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,180],"id":"66c82885-520c-4be5-b535-1721b4f24629","name":"Loop Over Items1"},{"parameters":{"options":{"timezone":"UTC+7"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1080,540],"id":"21b1ae20-21b0-4aca-9f76-59ae8158c6d9","name":"Date & Time5"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,180],"id":"a0fb7a2c-ce3e-4e45-ac50-bd0f2bbbee7c","name":"Schedule Trigger"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"=https://docs.google.com/spreadsheets/d/1JuJEEEVbAJC6j0D-4GpSur07QSP6YkXpqfPXsxaDGzQ/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tổng hợp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VSsJ5f36tOgDt9K-jrjTie1kNEP8hTxl9esSVvnE0dQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets2').item.json.row_number }}","Link Youtube":"=","Thời gian hoàn thành":"=","Trạng Thái":"Đang xử lý"},"matchingColumns":["row_number"],"schema":[{"id":"Link Google Drive - Folder","displayName":"Link Google Drive - Folder","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tên video","displayName":"Tên video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mô tả video","displayName":"Mô tả video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trạng Thái","displayName":"Trạng Thái","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thời gian hoàn thành","displayName":"Thời gian hoàn thành","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link Youtube","displayName":"Link Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1420,220],"id":"4843cb52-5ca8-46cc-b26e-26ccf3416ab7","name":"Chuyển trạng thái","credentials":{"googleSheetsOAuth2Api":{"id":"36iq4mTI7OArBG49","name":"Google Sheets account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Loop Over Items1').item.json['Link Google Drive - Folder'] }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1080,320],"id":"18cdf4a8-e22a-4410-bc08-65813880e015","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"k09bqXok6UGIhW5m","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status&uploadType=resumable","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Upload-Content-Type","value":"video/webm"}]},"sendBody":true,"contentType":"raw","rawContentType":"RAW/JSON","body":"={\n  \"snippet\": {\n    \"title\": \"{{ $json['Tên video'] }}\",\n    \"description\": \"{{ $json['Mô tả video'] }}\",\n    \"tags\": \"tapdoanannong,traicay,genki,cungcay\",\n    \"categoryId\": \"24\",\n    \"defaultLanguage\": \"vi\",\n    \"defaultAudioLanguage\": \"vi\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"license\": \"youtube\",\n    \"embeddable\": true,\n    \"publicStatsViewable\": true,\n    \"madeForKids\": false\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,320],"id":"7a53deb1-499f-4b48-bafb-fe685a50f348","name":"Get upload URL from YT1","retryOnFail":false,"waitBetweenTries":5000,"credentials":{"youTubeOAuth2Api":{"id":"4FfjKwbU2ZRhI9Tk","name":"YouTube account"}}},{"parameters":{"fromEmail":"no-reply@tnet.com.vn","toEmail":"trongtri1512@gmail.com","subject":"Đã upload xong video Youtube","html":"=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Thông báo hoàn thành xử lý video</title>\n</head>\n<body>\n    <p>Chào bạn,</p>\n    <p>Những video trong danh sách của bạn đã được xử lý thành công. Chi tiết như sau:</p>\n    \n    <ul>\n        <li><strong>Tên video: </strong>{{ $('Post video to YT1').item.json.snippet.title }} </li>\n        <li><strong>Thời gian hoàn thành xử lý:</strong> {{ $json['Thời gian hoàn thành'] }} </li>\n        <li><strong>Link video Youtube:</strong> <a href=\"{{ $json['Link Youtube'] }}\">Xem video</a></li>\n    </ul>\n    \n    <p>Cảm ơn bạn nhiều nhé. Xin hãy gửi link cho tôi, không thì cô Thuỷ buồn lắm.</p>\n</body>\n</html>","options":{"appendAttribution":true}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[520,440],"id":"098ccbec-9ee4-4844-b9b8-2991c83bae75","name":"Send Email","webhookId":"5ce597ba-4aab-47dc-9872-5fd20c090b40"},{"parameters":{"content":"## Tải file về Google và Upload lên Youtube của bạn\n- Khi quá trình đang thực hiện thì thay đổi trạng thái trong file Google **-> Đang xử lý**","height":620,"width":820},"type":"n8n-nodes-base.stickyNote","position":[760,160],"typeVersion":1,"id":"7eacc767-a285-40cc-8587-db2a2a7238f8","name":"Sticky Note"},{"parameters":{"content":"## Gửi email thông báo đã hoàn thành ","height":260,"width":720,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,400],"typeVersion":1,"id":"c87ae7dd-c3ef-486c-964e-482bf419a28c","name":"Sticky Note2"}],"connections":{"Google Sheets2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Post video to YT1":{"main":[[{"node":"Date & Time5","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Get upload URL from YT1","type":"main","index":0}]]},"Date & Time5":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Post video to YT1","type":"main","index":0}]]},"Get upload URL from YT1":{"main":[[{"node":"Chuyển trạng thái","type":"main","index":0},{"node":"Google Drive1","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6c28ba11-51a3-4b7f-8493-d2c35454cd55","triggerCount":0,"shared":[{"createdAt":"2025-03-29T05:58:46.136Z","updatedAt":"2025-03-29T05:58:46.136Z","role":"workflow:owner","workflowId":"mmD0WcSFtBuWPoP6","projectId":"Fazm4xWvB6q2vC65","project":{"createdAt":"2025-01-18T05:45:31.822Z","updatedAt":"2025-01-18T05:46:32.413Z","id":"Fazm4xWvB6q2vC65","name":"Xuan Linh <linhdinh.onnet@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-01-18T05:45:31.822Z","updatedAt":"2025-01-18T05:45:31.822Z","role":"project:personalOwner","userId":"965a5730-9eec-4ac7-980c-c41f61134254","projectId":"Fazm4xWvB6q2vC65","user":{"createdAt":"2025-01-18T05:45:30.985Z","updatedAt":"2025-02-14T07:11:28.875Z","id":"965a5730-9eec-4ac7-980c-c41f61134254","email":"linhdinh.onnet@gmail.com","firstName":"Xuan","lastName":"Linh","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-01-18T05:46:45.951Z","personalization_survey_n8n_version":"1.74.3","companySize":"<20","companyType":"ecommerce","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"6mDVlTqf5JGskaz5","userActivatedAt":1737210456848,"npsSurvey":{"responded":true,"lastShownAt":1739517084798}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}