Thuận Tri/up_fb__ytb.json
{
  "name": "up fb, ytb",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        340
      ],
      "id": "40771fa2-b763-4fde-9905-ea37f3cf97cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66fe933b-70f6-4c0d-b21d-24bc93563214",
              "name": "pageAccessToken",
              "value": "EAAat9539pTkBO3P4aZCShSYAlqj6I7StrRkB2v8aWCBqU01gLgIeHBHPxs8hUU0wyoDC3338HjZATQXa0IzoGMmzYL8RC39eJ46Rluf13engRwTpuVrD7ZCsZCAyZBubupeh9k4mIjdMkqHkvMmKl1Gq6Xx0vZAUN3TA2hceoxdMhYXxNZBwR42kWkVxDcPMhzMmX5OECAX",
              "type": "string"
            },
            {
              "id": "0e1c4ac7-9a6b-4f34-a6dd-e58d487ae9a6",
              "name": "pageID",
              "value": "760586630461615",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        340
      ],
      "id": "0069c193-1209-4634-830c-a5bc4e160a12",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.pageID }}/video_reels",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_phase",
              "value": "start"
            },
            {
              "name": "access_token",
              "value": "={{ $json.pageAccessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        340
      ],
      "id": "a533ad1c-07a9-4d25-8ba7-f0f45bff9bd3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('HTTP Request1').first().json.upload_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=OAuth {{ $('Edit Fields').first().json.pageAccessToken}}"
            },
            {
              "name": "file_url",
              "value": "https://ia801400.us.archive.org/32/items/17687289-hd-1080-1920-30fps/17687289-hd_1080_1920_30fps.mp4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        340
      ],
      "id": "751230c5-3907-48e0-a6a9-0819bf722f35",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/{{ $('HTTP Request1').first().json.video_id }}?fields=status&access_token={{ $('Edit Fields').first().json.pageAccessToken }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        240
      ],
      "id": "680df809-33e7-4b5e-97bc-b85098a8f1b2",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Edit Fields').first().json.pageID }}/video_reels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Edit Fields').first().json.pageAccessToken }}"
            },
            {
              "name": "video_id",
              "value": "={{ $('HTTP Request1').item.json.video_id }}"
            },
            {
              "name": "upload_phase",
              "value": "finish"
            },
            {
              "name": "video_state",
              "value": "PUBLISHED"
            },
            {
              "name": "description",
              "value": "upload by Duc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        240
      ],
      "id": "b358b078-e2c1-4fa7-a03d-f23e08deca80",
      "name": "publish reel"
    },
    {
      "parameters": {
        "url": "https://ia801400.us.archive.org/32/items/17687289-hd-1080-1920-30fps/17687289-hd_1080_1920_30fps.mp4",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        440
      ],
      "id": "e5b8a6b8-e3fc-4559-82d4-37293d3b621f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "test ",
        "regionCode": "VN",
        "categoryId": "42",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        460,
        440
      ],
      "id": "c66f2193-e69d-4982-aa22-153fc1d2ab4d",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "DhUEnx9mCFMRcDot",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "publish reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "publish reel": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27bea981-6b38-4c23-97de-6c01d188ab92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3acbfb0c7c81f553ab1fb1eade76cf8a325844f94053c24d7d8fca2804f7c89"
  },
  "id": "FNC2pzwJ0u1OQ1lL",
  "tags": []
}